.places {
	font-size: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px #FF5A5F solid;
	border-radius: 4px;
	display: flex;
	justify-content: center;
}

article h2 {
	font-size: 30px;
}
